nav {
    position: relative;
    text-align: right;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.884);
    text-align: center;
  }
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    background-color: white;
    color: rgba(255, 0, 0, 0.884);
  }



@media (max-width: 720px) {
    nav {
      text-align: center;
      font-weight: bold;
      background-color: rgba(255, 0, 0, 0.884);
    }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    nav ul li {
      display: inline-block;
    }
    nav ul li a {
      display: block;
      padding: 5px 80px;
      text-decoration: none;
      color: white;
    }
    nav ul li a:hover {
      background-color: white;
      color: rgba(255, 0, 0, 0.884);
    }
  }

  @media (max-width: 920px) {
    nav {
      text-align: left;
      background-color: rgba(0, 119, 255, 0.884);
    }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    nav ul li {
      display: inline-block;
    }
    nav ul li a {
      display: block;
      padding: 5px 80px;
      text-decoration: none;
      color: white;
    }
    nav ul li a:hover {
      background-color: white;
      color: rgba(255, 0, 0, 0.884);
    }
  }